html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/greyfloral_@2X.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
    color: green;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.notMatched {
  background: #660033;
  animation: shake 0.5s;
  cursor: default;
}

.hide {
    display: none;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;

}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .playAgain {
    float: right;
    cursor: pointer;
}
.light {
    color: #20ad95;
}


.icon {
  width: 100px;
  height: 100px;

}

/*
 * Styles for the Modal
 */

#myModal {
  display: none;
}

#startModal {
  display: block;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  border: 1px solid black;
}

.modal-content {
  width: 80%;
  padding: 20px;
  border: inherit;
  background-color: white;
  text-align: center;
  margin:auto;
}

#reStart {
  background-color: yellow;
}

#reStart:hover {
  cursor: pointer;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(20deg); }
    60% { transform: translate(-1px, 1px) rotate(-20deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
}
